<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.firman.handy.umntour_12110110074_12110110076_12110110097" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lantai_6_1"
            android:label="@string/title_activity_lantai_6_1"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_2"
            android:label="@string/title_activity_lantai_6_2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_3"
            android:label="@string/title_activity_lantai_6_3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_4"
            android:label="@string/title_activity_lantai_6_4"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_5"
            android:label="@string/title_activity_lantai_6_5"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_6"
            android:label="@string/title_activity_lantai_6_6"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_7"
            android:label="@string/title_activity_lantai_6_7"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lantai_6_8"
            android:label="@string/title_activity_lantai_6_8"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Normal_Classroom"
            android:label="@string/title_activity_normal__classroom"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Big_Classroom"
            android:label="@string/title_activity_big__classroom"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Big_Classroom_Middle"
            android:label="@string/title_activity_big__classroom__middle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Big_Classroom_Wood"
            android:label="@string/title_activity_big__classroom__wood"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lab_PC"
            android:label="@string/title_activity_lab__pc"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Lab_MAC"
            android:label="@string/title_activity_lab__mac"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Painting_Room"
            android:label="@string/title_activity_painting__room"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
